extends layout.pug

block content
  nav.nav
    a(href='/')
      span &larr;
      |  Back
  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Jeph Mari Daligdig 
        p Full Stack JavaScript Developer
        .about-bio
        h2 Work Experience
        .work-experience
          h3 Full Stack JavaScript Developer
          h5.duration
            strong Duration: Over 1 year
          .details
            h5.key-responsibilities
              strong Key Responsibilities:
              br
              | - Creating high-quality, scalable software solutions using Node.js, Express, and TypeScript.
              br
              | - Utilizing engineering skills and experience with Python, React, and cloud platforms like Google Cloud and Firebase.
              br
              | - Solving complex challenges and delivering robust applications that drive business success.
              br
              | - Mastering a diverse tech stack, including MongoDB, Flask, and Docker.
            h5.achievements
              strong Achievements:
              br
              | - Developed efficient solutions for student directory pagination and deployed dynamic web applications on Vercel.
              br
              | - Demonstrated quick adaptation and innovative problem-solving skills.
        h2 Summary
          h5.summary
            | Experienced Full Stack JavaScript Developer with a strong background in creating scalable solutions using modern technologies. Skilled in Node.js, Express, TypeScript, Python, React, Databasesand cloud platforms. Proven track record of solving complex challenges and delivering robust applications.
      .skills-contact-box.box
        h6 Skills
        each skill in skills 
          img.technology-badge(src=skill.badge, alt=skill.name)
        h6 Contact Info
        ul
          li +63-975-948-3289
          li daligdig.jephmari@gmail.com
        a.btn-link(href='', target="_blank") LinkedIn
        a.btn-link(href='https://github.com/greatxrider', target="_blank") GitHub
        a.btn-link(href='https://x.com/mrjephdev', target="_blank") Twitter
    nav.nav
      a(href='/')
        span &larr;
        |  Back
