extends layout.pug

block content
  nav.nav
    a(href='/')
      span &larr;
      |  Back
  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Jeph Mari Daligdig 
        p Full Stack JavaScript Developer
        .about-bio
        h2 Work Experience
        .work-experience
          h3 Full Stack JavaScript Developer
          p.duration
            | **Duration:** Over 1 year
          .details
            p.key-responsibilities
              | **Key Responsibilities:
              | - Creating high-quality, scalable software solutions using Node.js, Express, and TypeScript.
              | - Utilizing engineering skills and experience with Python, React, and cloud platforms like Google Cloud and Firebase.
              | - Solving complex challenges and delivering robust applications that drive business success.
              | - Mastering a diverse tech stack, including MongoDB, Flask, and Docker.
            p.achievements
              | **Achievements:
              | - Developed efficient solutions for student directory pagination and deployed dynamic web applications on Vercel.
              | - Demonstrated quick adaptation and innovative problem-solving skills.
        h2 Summary
          p.summary
            | Passionate about continuous learning and growth, with a commitment to delivering top-notch solutions, making me an asset to any team.
      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li Bootstrap
          li Sequelize
          li React
          li React Native
          li Expo
          li Android Studio
          li Redux
          li MongoDB
          li Mongoose
          li Sequelize
        h6 Contact Info
        ul
          li +63-975-948-3289
          li daligdig.jephmari@gmail.com
        a.btn-link(href='') LinkedIn
        a.btn-link(href='https://github.com/greatxrider') GitHub
        a.btn-link(href='https://x.com/mrjephdev') Twitter
    nav.nav
      a(href='/')
        span &larr;
        |  Back
