extends layout.pug

block content
  article.portfolio-intro
    h1 Full Stack JavaScript Developer
    p 
      | This portfolio highlights my work with the MERN stack, showcasing dynamic, responsive web applications. 
      | It reflects my commitment to delivering high-quality solutions that meet client needs and industry standards.
  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.id}`)
            h5 #{project.project_name}
